<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function toggleInput() {
            var budgetInput = document.getElementById('budgetInput');
            var budgetNoLimit = document.getElementById('budgetNoLimit');
            var budgetDirectInput = document.getElementById('budgetDirectInput');
            var budgetHidden = document.getElementById('budgetHidden');

            if(budgetDirectInput.checked) {
                budgetInput.style.display='inline';
                budgetHidden.value=50;
            } else if(budgetNoLimit.checked) {
                budgetInput.style.display='none';
                budgetHidden.value=9999999;
            }
        }

        function updateRangeValue() {
            var rangeSlider = document.getElementById('budget');
            var rangeValue = document.getElementById('rangeValue');
            var budgetHidden = document.getElementById('budgetHidden');

            rangeValue.textContent = rangeSlider.value;
            budgetHidden.value = rangeSlider.value;
        }

        window.onload = function() {
            toggleInput();
        }
    </script>

    <script>
        function loadSubregions() {
            var city = $('#city').val();
            $.ajax({
                url: '/user-plan/districts',
                type: 'GET',
                data: { city: city },
                success: function(data) {
                    $('#district').empty();
                    $('#district').append('<option value="">==시 · 군 · 구 선택==</option>');
                    data.forEach(function(district) {
                        $('#district').append('<option value="' + district + '">' + district + '</option>');
                    });
                }
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('startDate').setAttribute('min', today);

            document.getElementById('startDate').addEventListener('change', function() {
                var startDate = this.value;
                document.getElementById('endDate').setAttribute('min', startDate);
            });
        });
    </script>
</head>
<body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <div>
        <div>
            <h2>여행 정보 입력</h2>
        </div>

        <form action="getPlanInfoForm.html" th:action th:object="${userPlan}" th:method="post">
            <div>
                <div>여행명</div>
                <input type="text" th:field="*{name}" />
            </div>

            <div>
                <div>여행 시작일</div>
                <input type="date" th:field="*{startDate}" min="[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]"/>
            </div>


            <div>
                <div>여행 종료일</div>
                <input type="date" th:field="*{endDate}" />
            </div>


            <div>
                <div>여행 예산</div>
                <label>
                    <input type="radio" name="budgetOption" value="noBudget" id="budgetNoLimit" onclick="toggleInput()" checked>
                    예산 상관 없음
                </label>

                <label>
                    <input type="radio" name="budgetOption" value="customBudget" id="budgetDirectInput" onclick="toggleInput()">
                    예산 직접 입력
                </label>
                <div id="budgetInput" style="display:none;">
                    <input type="range" id="budget" min="1" max="100" value="50" oninput="updateRangeValue()"/>
                    <span id="rangeValue">50</span>
                </div>
                <input type="hidden" id="budgetHidden" th:field="*{budget}" />
            </div>

            <div>
            <div>
                <div>시 · 도</div>
                <select id="city" name="city" onchange="loadSubregions()">
                    <option value="">==시 · 도 선택==</option>
                    <option th:each="city : ${cities}" th:value="${city.key}"
                             th:text="${city.value}">서울</option>
                </select>
            </div>

            <div>
                <div>시 · 군 · 구</div>
                <select id="district" name="district">
                    <option value="">==시 · 군 · 구 선택==</option>
                </select>
            </div>
            </div>

            <div>
                <div th:each="status : ${statuses}">
                    <input type="radio" th:field="*{status}" th:value="${status.name()}">
                    <label th:for="${#ids.prev('status')}" th:text="${status.description}">PUBLIC</label>
                </div>
            </div>

            <div>
                <button type="submit">여행 정보 등록</button>
            </div>
        </form>

        <button th:onclick="|location.href='@{/user-plan/places}'|"
                type="button">여행 일정 생성하기</button>
    </div>
</body>
</html>