<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Plan</title>
</head>
<body>

<div>
    <div>
        <h2>상세 여행 일정</h2>
    </div>

    <div>
        <label for="name">여행명</label>
        <input type="text" id="name" name="name" value="여행명1" th:value="${userPlan.name}" readonly>
    </div>

    <div>
        <label for="startDate">여행 시작일</label>
        <input type="text" id="startDate" name="startDate" value="여행 시작일" th:value="${userPlan.startDate}" readonly>
    </div>

    <div>
        <label for="endDate">여행 종료일</label>
        <input type="text" id="endDate" name="endDate" value="여행 종료일" th:value="${userPlan.endDate}" readonly>
    </div>

    <div>
        <label for="budget">여행 예산</label>
        <input type="text" id="budget" name="budget" value="100" th:value="${userPlan.budget}" readonly>
    </div>

    <div>
        <label for="city">시 · 도</label>
        <input type="text" id="city" name="city" value="서울" th:value="${userPlan.city}" readonly>
    </div>

    <div>
        <label for="district">시 · 군 · 구</label>
        <input type="text" id="district" name="district" value="강남구" th:value="${userPlan.district}" readonly>
    </div>

    <div>
        <div>
            <button onclick="location.href='editUserPlanInfoForm.html'"
                    th:onclick="|location.href='@{/user-plans/{userPlanId}/edit(userPlanId=${userPlan.id})}'|"
                    type="button">여행 일정 수정</button>
        </div>
        <div>
            <button onclick="location.href='userPlans.html'"
                    th:onclick="|location.href='@{/myroom/user-plan}'|"
                    type="button">여행 일정 목록</button>
        </div>
        <div>
            <button th:onclick="|location.href='@{/user-plan/{userPlanId}/places(userPlanId=${userPlan.id})}'|"
                    type="button">좋아요 여행지 선택</button>
        </div>
    </div>
</div>

</body>
</html>