<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<th:block sec:authorize="isAnonymous()">
    <a href="/loginForm" class="btn btn-success active" role="button">Login</a>
</th:block>

<th:block sec:authorize="isAuthenticated()">
    <div>
        <a href="/logout" class="icons me-2 ms-2">Logout</a><br><br>
        <span th:text="${username}">username</span><br>
        <span th:text="${email}">email</span><br><br>
        <a href="/myroom/profile/username">이름 변경</a><br>
        <a href="/myroom/user-plans">여행 일정 목록</a>
    </div>
</th:block>
</body>
</html>