<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<div id="map" style="width:500px;height:400px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4cb611494842c6119d89e78e053b6cce"></script>
<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);

        var places = new kakao.maps.services.Places();

        var callback = function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                console.log(result);
            }
        };

<!--        // 공공기관 코드 검색-->
        places.categorySearch('PO3', callback, {
<!--            // Map 객체를 지정하지 않았으므로 좌표객체를 생성하여 넘겨준다.-->
            location: new kakao.maps.LatLng(37.564968, 126.939909)
        });


</script>

</body>
</html>