<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Katen - Minimal Blog & Magazine HTML Theme</title>
    <meta name="description" content="Katen - Minimal Blog & Magazine HTML Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/all.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/custom.js"></script>

</head>

<body>

<!-- preloader -->
<div id="preloader">
    <div class="book">
        <div class="inner">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

    <div class="main-overlay"></div>

    <!-- header -->
    <header class="header-default">
        <nav class="navbar navbar-expand-lg">
            <div class="container-xl">
                <!-- site logo -->
                <a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="logo"/></a>

                <div class="collapse navbar-collapse">
                    <!-- menus -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="index.html">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index.html">Magazine</a></li>
                                <li><a class="dropdown-item" href="personal.html">Personal</a></li>
                                <li><a class="dropdown-item" href="personal-alt.html">Personal Alt</a></li>
                                <li><a class="dropdown-item" href="minimal.html">Minimal</a></li>
                                <li><a class="dropdown-item" href="classic.html">Classic</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Lifestyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Inspiration</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="category.html">Category</a></li>
                                <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                                <li><a class="dropdown-item" href="user-plan/list">User Plans</a></li>
                                <li><a class="dropdown-item" href="my-page.html">My Page</a></li>
                                <li><a class="dropdown-item" href="myroom/profile">Profile</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="myroom/profile">Profile</a>
                        </li>
                    </ul>
                </div>

                <!-- header right section -->
                <div class="header-right">
                    <!-- social icons -->
                    <!--                    <ul class="social-icons list-unstyled list-inline mb-0">-->
                    <!--                        <th:block sec:authorize="isAnonymous()">-->
                    <!--                            <a href="/loginForm" class="btn btn-success active" role="button">Login</a>-->
                    <!--                        </th:block>-->

                    <!--                        <th:block sec:authorize="isAuthenticated()">-->
                    <!--                            <div th:object="${user}">-->
                    <!--                                <a href="/logout" class="icons me-2 ms-2" role="button">Logout</a></div>-->

                    <!--                        </th:block>-->
                    <!--                        -->
                    <!--                    </ul>-->
                    <!-- header buttons -->
                    <div class="header-buttons">
                        <button class="search icon-button">
                            <i class="icon-magnifier"></i>
                        </button>
                        <button class="burger-menu icon-button">
                            <span class="burger-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- cover header -->
    <section class="single-cover data-bg-image" data-bg-image="images/posts/single-cover.jpg">

        <div class="container-xl">

            <div class="cover-content post">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Inspiration</a></li>
                        <li class="breadcrumb-item active" aria-current="page">3 Easy Ways To Make Your iPhone Faster
                        </li>
                    </ol>
                </nav>

                <!-- post header -->
                <!--                <div class="post-header">-->
                <!--                    <h1 class="title mt-0 mb-3">-->
                <!--                        <input type="text" id="titleInput" value="일정 제목"/>-->
                <!--                    </h1>-->
                <!--                    <ul class="meta list-inline mb-0">-->
                <!--                        <li class="list-inline-item"><a href="#"><img class="author"-->
                <!--                                                                      src="static/images/other/default.png"-->
                <!--                                                                      alt="author"/></a>-->
                <!--                        </li>-->
                <!--                        <li class="list-inline-item">-->
                <!--                            <th:block sec:authorize="isAuthenticated()">-->
                <!--                                <div th:if="${user != null}" th:object="${user}">-->
                <!--                                    <span th:text="*{email}">username</span><br>-->
                <!--                                </div>-->
                <!--                                <div th:if="${user == null}">-->
                <!--                                    <span>anonymous</span><br>-->
                <!--                                </div>-->
                <!--                            </th:block>-->
                <!--                        </li>-->
                <!--                        <li class="list-inline-item" id="current-date"></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>

        </div>

    </section>

    <!-- section main content -->
    <section class="main-content">
        <div class="container-xl">

            <div class="row gy-4">

                <div class="col-lg-4">

                    <!-- sidebar -->
                    <div class="sidebar">

                        <!-- 남겨야돼 -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">Plan Information</h3>
                            </div>
                            <div class="widget-content">
                                <div th:if="${not infoSubmitted}">
                                    <form action="#" th:action="@{/user-plan/plan-info}" th:object="${userPlan}"
                                          th:method="post">
                                        <div>여행 제목</div>
                                        <input type="text" th:field="*{name}">

                                        <div>여행 시작일</div>
                                        <input type="date" th:field="*{startDate}"/>

                                        <div>여행 종료일</div>
                                        <input type="date" th:field="*{endDate}"/>

                                        <div>여행 예산</div>
                                        <label>
                                            <input type="radio" name="budgetOption" value="noBudget" id="budgetNoLimit" onclick="toggleInput()" checked>
                                            예산 상관 없음
                                        </label>
                                        <label>
                                            <input type="radio" name="budgetOption" value="customBudget" id="budgetDirectInput" onclick="toggleInput()">
                                            예산 직접 입력
                                        </label>
                                        <div id="budgetInput" style="display:none;">
                                            <input type="range" id="budget" min="1" max="100" value="50" oninput="updateRangeValue()"/>
                                            <span id="rangeValue">50</span>
                                        </div>
                                        <input type="hidden" id="budgetHidden" th:field="*{budget}" />

                                        <div>시 · 도</div>
                                        <select id="city" name="city" onchange="loadSubregions()">
                                            <option value="">==시 · 도 선택==</option>
                                            <option th:each="city : ${cities}" th:value="${city.key}"
                                                    th:text="${city.value}">서울
                                            </option>
                                        </select>

                                        <div>시 · 군 · 구</div>
                                        <select id="district" name="district">
                                            <option value="">==시 · 군 · 구 선택==</option>
                                        </select>

                                        <div th:each="status : ${statuses}">
                                            <input type="radio" th:field="*{status}" th:value="${status.name()}">
                                            <label th:for="${#ids.prev('status')}"
                                                   th:text="${status.description}">PUBLIC</label>
                                        </div>
                                        <button type="submit" id="saveInfoButton">저장</button>
                                    </form>
                                </div>
                                <div th:if="${infoSubmitted}">
                                    <div>여행 제목</div>
                                    <div th:text="${userPlan.name}"></div>

                                    <div>여행 시작일</div>
                                    <div th:text="${userPlan.startDate}"></div>

                                    <div>여행 종료일</div>
                                    <div th:text="${userPlan.endDate}"></div>

                                    <div>여행 예산</div>
                                    <div th:text="${userPlan.budget}"></div>

                                    <div>시 · 도</div>
                                    <div th:text="${userPlan.city}"></div>

                                    <div>시 · 군 · 구</div>
                                    <div th:text="${userPlan.district}"></div>

                                    <div th:text="${userPlan.status}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">Time Table</h3>
                            </div>
                            <div class="widget-content" th:if="${infoSubmitted}">
                                <ul class="list">
                                    <!-- href는 음식점, 교통수단 등 오른쪽 화면에 표시할 내용으로 바꾸면 될 듯 -->
                                    <li id="restaurant1">아침 식사<span>9:00 - 11:00</span></li>
                                    <li id="activity1">오전 일정 1 <span>9:00 - 11:00</span></li>
                                    <li id="activity2">오전 일정 2<span>9:00 - 11:00</span></li>
                                    <li id="restaurant2">점심 식사<span>9:00 - 11:00</span></li>
                                    <li id="activity3">오후 일정 1<span>9:00 - 11:00</span></li>
                                    <li id="activity4">오후 일정 2<span>9:00 - 11:00</span></li>
                                    <li id="restaurant3">저녁 식사<span>9:00 - 11:00</span></li>
                                    <li id="activity5">야간 일정 1<span>9:00 - 11:00</span></li>
                                    <li id="activity6">야간 일정 2<span>9:00 - 11:00</span></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <!-- post single -->
                    <div class="post post-single">
                        <!-- post content -->
                        <div class="instagram" th:if="${infoSubmitted}">
                            <div class="container-xl">
                                <div class="place-container">
                                    <h3>추천 여행지</h3>
                                    <!-- 여행지 -->
                                    <div class="instagram-feed d-flex flex-wrap">
                                        <div class="col-md-4" id="recom-list">

                                        </div>
                                    </div>
                                </div>
                                <div class="place-container">
                                    <h3>다른 여행지</h3>
                                    <!-- 여행지 -->
                                    <div class="instagram-feed d-flex flex-wrap">
                                        <div class="col-md-4" id="other-list">
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="place-container">
                                    <h3>좋아요 누른 여행지</h3>
                                    <!-- 여행지 -->
                                    <div class="instagram-feed d-flex flex-wrap">
                                        <div class="col-md-4" id="liked-list">
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                            <div class="place-item">
                                                <a>
                                                    <div class="heart-icon" onclick="toggleHeart(this)">🩶</div>
                                                    <img src="images/insta/insta-1.jpg" alt="여행지 사진">
                                                    <h5>블루라인 파크</h5>
                                                    <p>상세 설명</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- post bottom section -->
                        <div class="post-bottom">
                            <div class="row d-flex align-items-center">
                                <button id="saveButton"
                                        onclick="sendRequest('/user-plan/save-places', selectedPlaces, 'POST');">저장
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="spacer" data-height="50"></div>
                </div>
            </div>

        </div>
    </section>


    <!-- footer -->
    <footer>
        <div class="container-xl">
            <div class="footer-inner">
                <div class="row d-flex align-items-center gy-4">
                    <!-- copyright text -->
                    <div class="col-md-4">
                        <span class="copyright">© 2021 Katen. Template by ThemeGer.</span>
                    </div>

                    <!-- social icons -->

                    <!-- go to top button -->
                    <div class="col-md-4">
                        <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Back to Top</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- end site wrapper -->

<!-- search popup area -->
<div class="search-popup">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>
    <!-- content -->
    <div class="search-content">
        <div class="text-center">
            <h3 class="mb-4 mt-0">Press ESC to close</h3>
        </div>
        <!-- form -->
        <form class="d-flex search-form">
            <input class="form-control me-2" type="search" placeholder="Search and press enter ..." aria-label="Search">
            <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
        </form>
    </div>
</div>

<!-- canvas menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>

    <!-- logo -->
    <div class="logo">
        <img src="images/logo.svg" alt="Katen"/>
    </div>

    <!-- menu -->
    <nav>
        <ul class="vertical-menu">
            <li class="active">
                <a href="index.html">Home</a>
                <ul class="submenu">
                    <li><a href="index.html">Magazine</a></li>
                    <li><a href="personal.html">Personal</a></li>
                    <li><a href="personal-alt.html">Personal Alt</a></li>
                    <li><a href="minimal.html">Minimal</a></li>
                    <li><a href="classic.html">Classic</a></li>
                </ul>
            </li>
            <li><a href="category.html">Lifestyle</a></li>
            <li><a href="category.html">Inspiration</a></li>
            <li>
                <a href="#">Pages</a>
                <ul class="submenu">
                    <li><a href="category.html">Category</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="user-plan">User Plan</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
    </nav>

</div>

<!-- JAVA SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.sticky-sidebar.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>